h1
{
font-size:60pt;
text-align:center;
color:rgb(250,25,205);
font-family:Monotype corsiva;
text-align:center;
background-image:url('im0.jpg');
margin-left:150pt;
margin-right:150pt;
margin-bottom:0pt;
margin-top:10pt;
}
.mainbody
{
text-align:center;
background-image:url('im0.jpg');
margin-left:150pt;
margin-right:150pt;
margin-top:0pt;
margin-bottom:0pt;
font-size:20pt;
color:rgb(250,255,25);
font-family:Comic sans ms;
cursor:pointer;
}
.insideitems
{
text-align:left;
background-image:url('im0.jpg');
margin-left:150pt;
margin-right:150pt;
margin-top:0pt;
margin-bottom:0pt;
font-size:15pt;
color:rgb(225,20,5);
font-family:Comic sans ms;
}
.buttons
{
text-align:center;
background-image:url('b1.png');
margin-left:150pt;
margin-right:150pt;
margin-top:0pt;
margin-bottom:0pt;
font-size:18pt;
color:rgb(250,55,255);
font-family:Comic sans ms;
cursor:pointer;
}
.normal
{
background-image:url('im17.jpg');
margin-left:100pt;
margin-right:100pt;
margin-top:10pt;
margin-bottom:10pt;
font-size:12pt;
color:rgb(225,200,255);
}
.footer{
height: 4em;
background-image:url('im17.jpg');
margin-left:-30pt;
margin-right:0pt;
}

.playbutton
{
background-image:url('cover_plain.jpg');
width:100pt;
height:100pt;
}
#reset  , #snm , #ins
{
height:30pt;
width:150pt;
position:absolute;
bottom:10px;
font-family:Comic sans ms;
color:brown;
font-size:12pt;
}
#reset {left:550px;}
#snm{left:1050px;}
#ins{left:50px;}
.gametype
{

font-family:Lucida handwriting;
color:brown;
font-size:28pt;
position:absolute;
left:500px;
height:80pt;
width:300pt;
}

#navbar{
height:26px;
line-height:26px;
width:1300px;
margin:0 auto;
text-align:center;
}
#navbar a:link, #navbar a:visited, #navbar a:hover{
color:rgb(30,1,90);
font-weight:bold;
margin-right:20px;
text-decoration:none;
}
#scores
{
position:absolute;
left:10px;
top:200px;
color:rgb(30,251,190);
font-size:28pt;
font-family:Comic Sans ms;
}
#blinking
{
 font-family: cursive;
     font-size: 50pt;
     text-decoration:blink;
     font-style: normal;
	 color:rgb(255,100,10);
	 position:absolute;
	 top:-5pt;
	 left:200px;
 }