body{
	text-align: center;
	background-image: url("hwn4.jpg");	
    background-size: 150% 100%;*/
    background-repeat: no-repeat;

	/*background-image: url("sprites.png");*/
}
#pipes_canvas,#flappy_canvas{
	margin: -600px 0 0;
	padding: 0px;
}
 #pipes_canvas{
	position:relative;
	top:-18px;
}

#game_canvas{
	

	}

